.stat {
    background-color: rgba(255,206,254,0.1);
/*    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 209px;*/
    color: black;
}

    .stat i {
        font-size: 50px
    }

.stat-items h2 {
    font-weight: bold;
    font-size: 42px;
    color: darkorange;
}

.stat p {
    font-weight: bold;
    letter-spacing: 1px;
}
