<!-- Carousel-->
<style>
    .resim {
        object-fit: fill;
        border: 3px solid pink;
        margin-right: 20px;
        width: 1200px;
        height: 600px;
    }
</style>
<div class="row carousel-holder ">
    <div class="col-md-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" @*style="height: auto; width: auto; overflow: hidden; height:600px;"*@>
                <div class="carousel-item active">
                    @*<img class="d-block w-100 resim" src="https://lh3.googleusercontent.com/86gxzQbpvjBgqMchvis8YgZriK7mCiwDERyW8qM6Lk6LgARtjwmWwn70s4nPsgC-SPudXw1smsy29UPHusSCe2we5RCQ83oG1W6omdfNh6TIJZ7sxQpY4kBh9ON2F-HlIrgKssPX5mVXBK5pPmSo6L-Na_P2Anc5deStiSc7psj1s6YmO8rzeG8fWnuFkLkdpUbN2tGE1qcdxngr_-v1UTIBZf630mLGxZh4GaNcv-_qczadJIZLaYd8xWX2LPTyI0t5N8naHaGWclVeuUR5ycfhtta29YJIDavi453WClxeQFHm-Z_0Slq7QdivKX8MPSECFnOgE-Rg6muQ2-jk6VsktydcObuMI9p6FkJzyrnoPPot3M4DaiDWsW1F7ple1VX-_9uMdvJG8k2pZTJhhHd2zL626fQTxk3qHKunB2p4bM4P5CkHd_NAIIPSPwyZvyFeWn-EUthN2dQU0rXUp2ZWV7MWjMti-R4Aql7VCpIDRU0Bdm9-p21yI9a9vVnO8X4uOe9_uGTtNj0TyK-cpTk0BZPFcciZ46aibXHyqfcLhneYNhFrAtzAHt2HgrAFedWTWHzSnxIoW4DzjlhE0B7zWuvEruf89EBLJGsuW5YKtp4AIDHjPwjQo8F9KiMfXAnGsK6rUnNjy-dyoksy7zhsL3JM9V1s92bbgcuDut04_jGPj37T1AFlzYDIdg=w1639-h938-no?authuser=0">*@
                    <img class="d-block w-100 resim " src="https://i.hizliresim.com/TWXbYV.png" />
                </div>
                <div class="carousel-item">
                    @*<img class="d-block w-100 resim" src="https://lh3.googleusercontent.com/O2iS3e0KY1dcQAXliNXg29PDiqquVMsbqlbVoMW6XeRiEwtFSV1Y_8llOcHX3VUZvO14KVltjKcVNmmG6HftJtJZuFiJI298CrSQVrzhMZ2v9_41ydGYDvrxDTUTIqrCdifvk-q66QHFU3We-UM8xwisPyyj1GnDtKGvzBJm-CUJBF0HBhtS147n4pRDPkJkHj0bnQXhLa1ipyr2d_1yGRiwvJveqgr9tj88-0vHLA79-LJbuKrBQQ65O1b5RpbOERYkeFImNGkus8zEVxS3o-Pfmoxd5ybegstTexYiig9AgCa6Klw32eD4ltTkEOxfjoAe8HCcH9ZGsNgO287h23xxUj57WM5tlWp4yDLcz7R6es5m-1rCUZN3E9HYihqma_BfadWlZW6n69V0meyKYkCNm06mKZ0AuoqzLfQLf9JNckZ5HEtAdRJaSOwv7yCczucQcB4I1CyAenZoHPvLmQLxrwxGWZbV2sOpHgI7e8f6ldXUaslxWsQpvfZeAT-NlHAfbLDuZjPiMqFmIDN_0_cwg6MsxR7q9erf5KO0xl9p8g2ViVh79pFic7Y7v8yY_HXIvFtp01h94xXAZjQ_uQYgqUu0rc4J8j2F1NN8JQ6MO5Pu6Pmxw9lJW7BwFnmvW_h64vP95SDqCcFvTZB2SQiyVXop3VxwnVjxNltWU3p9wIjn1Rpeth1nO9Rriw=w1639-h938-no?authuser=0" alt="">*@
                    <img class="d-block w-100 resim " src="https://i.hizliresim.com/zk8ocj.png" />
                </div>
                <div class="carousel-item">
                    @*<img class="d-block w-100 resim" src="https://lh3.googleusercontent.com/GlbJllJDJkp1QKn1EejfOotE8x9w_Lq7MYgPcqX7vFhUaj6dfR-xVIXZqJ0B65dbIWeegRn2NEQmLa8naFj9KwmpZZPawWskG1ImTXbeLGE97hEyiYM2M7CSp9lQjtYoZFYx9MoIxvD78loJQ1McUg_jzcu8HQcEk9V6VBV14GXe7L8SkyjpzGTI0qGcXZxeWiu2A0zy7kz-oTZza9sVSink7bOnSZFe-GJDzgqLBc7j4AJ6k4feEgzelDPANK_t6C_PDB_Ih_TSweKigugLVoT3m_JKtG6H9hgP8w6USlsjy1OohHZQ82v6m9wDk8m8atUDAJ8O75V7rljJZFxFeMVK9Qh7fcjTrB0rqLC54kqa-Uf4Mr3Hq369bwooLbVnLlr746GMMW2G6LmSqfhQWy7OPGNg2G5ySX2g5wWWgdfEs_TtM7rR58665Zrn2WVBBmwz9EAjKjNuEcyUEeCGGjoAls2fCNGVv1TaWc1OarZKsibqSIg3mophJw8eli6Z_vwHFG6w5Iyu2SIq24_Lr7isp8SCBigR0HpOMn_Pkgv8j0VYxcgx3Ic7nUIZUgwfhBjr0KM5uQzzVexmzYPttX8vMQ8xi304gm4kYFnBgPXoDWAePrH9X_z2ySP19tyXiSCvqMOcHCEko7pIB9YiQcT59oWMfe3f2EzDXWqTKk3T4AYQMOxs6EoaMt1kwA=w1639-h938-no?authuser=0" alt="">*@
                    <img class="d-block w-100 resim " src="https://i.hizliresim.com/38tSKN.png" />
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Önceki</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Sonraki</span>
            </a>
        </div>
    </div>

</div>
