@{
    ViewBag.Title = "About";
}

<!-- Page Content -->

<style>
    .resim {
        max-height: 600px;
        width: 1200px;
    }

</style>
<div class="row" style="        background-color: rgba(46, 0, 42, 0.5);">
    <!-- Kategoriler-->
    <div class="col-md-12">

        <!-- About metni-->
        <div class="row text-center">
            <div class="col-md-12">
                <img src="~/images/carouselBir.png" class="img-responsive img-thumbnail resim mt-5" alt="" />
            </div>
        </div>
        <div class="row p-4">
            <div class="col-md-12 mb-4 mt-4">
                <h1 style="font-size: 42px; color:white;"><b>Diyetisyen  Gülten MANAV Kimdir ?</b></h1>
                <p style="font-size: 28px; color:white;">
                    &emsp;1997 yılında Bursa'nın Yıldırım Beyazıt ilçesinde doğdum.<br />
                    &emsp;Lisans eğitimini Kastamonu Üniversitesi Beslenme ve Diyetetik alanında tamamladım. <br />
                    &emsp;Şuan Adana da   ofisimde danışan kabul ediyorum.<br />
                    &emsp;Kendimi her zaman mesleğini seven bir diyetisyen olarak tanımladım. <br />
                    &emsp;Benim için danışanlarimin başarısı kendi başarımdır ve bu felsefede ilerleyecegim.<br />

                </p>
            </div>
            <div class="col-md-12 mb-4">
                <p class="lead" style="font-size: 18px; color:white;">
                    Herkes sağlıklı ve mutlu bedene ulaşana kadar hizmetteyim.
                </p>
            </div>
            <div class="row p-4">
                <div class="col-md-12 mb-4 mt-4">
                    <h2 style="font-size: 42px; color:white;"><b>Diyetisyen  Gülten MANAV Felsefesi</b></h2>
                    <p style="font-size: 28px; color:white;">
                        <i style="font-size:40px;">G</i>elişen ve sürekli değişen bir dünyada yaşıyoruz.   <br />
                        <i style="font-size:40px;">H</i>er biri birbirinden farklı bir yaşam biçimine sahip çalışan bireyler
                        sedanter bir yaşam sürdüren insanlar çok koşuşturan öğrenciler hepinizin birbirinden farklı bir beslenme düzeni var.
                        ve bu beslenme düzenine ek kronik hastalığı hastalıklarımız var. <br />
                        <bi style="font-size:40px;">S</bi>izce hepiniz aynı mısınız herkes sabah kahvaltısını 09:00'da  yapar mı ? <br />
                        &emsp;Herkes 22:00'da uyur mu ?  <br />
                        &emsp;Tabii ki de hayır.  <br />
                        &emsp;Herkes birbirinden farklı yaşam tarzına sahip farklı koşullarda farklı bakış açılarına sahip birer bireydir.<br />
                        <i style="font-size:40px;">B</i>eslenme dedigimizde tamamen kişiye özgüdür  öğlen yemeğini yedikten sonra oluşan yorgunluk hissi sizce sadece çalışmaktan mı kaynaklı yoksa yediğimiz besinlerin buna etkisi var mı ? <br />
                        &emsp;<i>Kendimize yeterince özen gösteriyor muyuz ?</i> <br />
                        &emsp;Emziren anneler , gebe anneler , menopoz dönemindeki kadınlar , adolesan çocuklar ,<br />
                        &emsp;Bunların hepsi birbirinden çok farklı bir metabolizmaya sahiptir.<br />
                        &emsp;Emziren bir annenin kalorisinin ne kadar çok önemi varsa adölesan bir çocuğun gelişimi için de kalori aynı önemi arzeder.<br />
                        &emsp;Menopoz dönemindeki kadınlar çokça metabolizmasının yavaşlığından şikayet ederler. <br />
                        &emsp;Sizce birbirinden bu kadar farklı dönemlerde çeşitli özelliklere sahip bu kadar insan aynı beslenme alışkanlığına sahip olabilirler mi ? <br />
                        <i style="font-size:40px;">B</i>en Diyetisyen Gülten MANAV <br />
                        &emsp;- sizlerin beslenme alışkanlıklarını,<br />
                        &emsp;- doğru bilinen yanlışlarınızı,<br />
                        &emsp;- fazladan kilolarınızı gebelik sonrası oluşan fazla kilolarınızı,<br />
                        &emsp;- ergenlik dönemi kilolarınızı ,<br />
                        &emsp;- ben çok yoğunum kendime ayıracak vaktim yok diyet yapamıyorum bu yüzden kilo alıyorum dediğiniz kilolarınızı <br />
                        &emsp;- kronik hastalıklarımızı <br />
                        &emsp;- yavaş metabolizmamızı <br />
                        &emsp;ve daha birçok durumda sizin yanınızda olmaya varım. <br />
                        <i style="font-size:40px;">S</i>izlerde kendinize bir şans verin kendinizi şımartın ve özel hissettirin.<br />
                        &emsp;Size en iyi gelecek şey sadece diyet programı değil bu süreçte size motivasyon bakımından da yardımcı olacak bir diyetisyendir. <br />
                        &emsp;Diyetisyen seçimi bu yüzden çok önemlidir. <br />
                        &emsp;Diyetisyenizle uyumunuz ne kadar iyi ise alacağını sonuçlar o oranda yüksek olacaktır. <br />
                        &emsp;Sizleri bekliyorum ücretsiz ön görüşme için lütfen beni arayın.
                    </p>
                </div>
                <div class="col-md-12 mb-4" >
                    <blockquote class="blockquote text-right">
                        <p class="mb-0" style="font-size: 36px; color:white;">Diyetisyen</p>
                        <footer class="blockquote-footer my-0" style="font-size: 48px; color:white;">
                            Gülten MANAV
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
