@using DiyetisyenGultenManav.BusinessLayer
@using DiyetisyenGultenManav.Entities
@{

    KategoriManager CM = new KategoriManager();
    List<Kategori> KategoriList = CM.List();

}
<p style="font-size:24px; text-align:center"><b>Kategoriler</b></p>
<div class="list-group">
    <a href="@Url.Action("Index","Home")" class="list-group-item list-group-item-action">
        <span class="fa fa-th-list mr-2"></span>Tümü
    </a>
    @foreach (Kategori kate in KategoriList)
    {
        <a href="/Home/ByKategori/@kate.Id" title;="@kate.Description" class="list-group-item list-group-item-action">
            <span class="fa fa-th-list mr-2"></span> @kate.Title
        </a>
    }

</div>