@using DiyetisyenGultenManav.BusinessLayer
@using DiyetisyenGultenManav.Entities
@using DiyetisyenGultenManav.Entities.ValueObjects
@model HomeViewModel
@*@{
           KategoriManager CM = new KategoriManager();
        List<Kategori> KategoriList = CM.List();
    }*@


<br />
<p style="font-size:24px; text-align:center"><b>Kategoriler</b></p>
<div class="list-group">
    <a href="/Home/Index#princing" class="list-group-item list-group-item-action" style="background-color:lightblue;">
        <span class="fa fa-gift mr-2" style="font-size:21px;color:hotpink;"></span><b>Paketler</b>
    </a>
    @*<a href="@Url.Action("Index","Home")" class="list-group-item list-group-item-action" style="background-color:  #ecf0f1;">
        <span class="fa fa-th-list mr-2"></span>Tümü
    </a>*@
    @foreach (var kate in Model.Kategoriler)
    {
        <a href="/Home/ByKategori/@kate.Id" title;="@kate.Description" class="list-group-item list-group-item-action">
            <span class="fa fa-@kate.Icon mr-2"></span> @kate.Title
        </a>
    }

</div>