<div class="col-md-3">
    <p style="font-size:28px; text-align:center"><b>Hesaplamalar</b></p>
    <div class="list-group">
        <a href="/Hesaplamalar/HesaplaBMI" class="list-group-item list-group-item-action">
            <span class="fa fa-arrow-right mr-2"></span><i>Beden Kitle İndeksi</i>
        </a>
        <a href="/Hesaplamalar/HesaplaBMH" class="list-group-item list-group-item-action">
            <span class="fa fa-arrow-right mr-2"></span><i>Bazal Metabolizma Hızı</i>
        </a>
        <a href="/Hesaplamalar/HesaplaIdealKilo" class="list-group-item list-group-item-action">
            <span class="fa fa-arrow-right mr-2"></span><i>İdeal Kilo</i>
        </a>
        <a href="/Hesaplamalar/HesaplaIdealKilo" class="list-group-item list-group-item-action">
            <span class="fa fa-arrow-right mr-2"></span><i>Almamız Gereken Enerji</i>
        </a>
        <a href="/Hesaplamalar/HesaplaSu" class="list-group-item list-group-item-action">
            <span class="fa fa-arrow-right mr-2"></span><i>Günlük İçmemiz Gereken Su</i>
        </a>
    </div>
</div>