@using DiyetisyenGultenManav.Entities
@using DiyetisyenGultenManav.WebApp.Models
@model List<Yorum>
@{
    Kullanıcı kullanıcı = CurrentSession.User;
}
@foreach (Yorum item in Model)
{

    <div class="media">
        <i class="mr-3 fa fa-comment"></i>
        @*<img class="mr-3" src="..." alt="Generic placeholder image">*@
        <div class="media-body">
            <div>
                <h5 class="mt-0">Media heading</h5>
                <span id="yorum_text_@item.Id" contenteditable="false">
                    @item.Text
                </span>
                @if ((item.Owner != null) && (kullanıcı != null && kullanıcı.Id == item.Owner.Id) || (kullanıcı != null && kullanıcı.IsAdmin == true))
                {
                    <span class="pull-right">
                        <button type="button" class="btn btn-warning btn-sm" data-edit-mode="false"
                                onclick="doYorum(this,'edit_clicked',@item.Id,'#yorum_text_@item.Id');">
                            <span class="fa fa-edit"></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm"
                                onclick="doYorum(this,'delete_clicked',@item.Id);">
                            <span class="fa fa-trash"></span>
                        </button>
                    </span>
                }
                <br />
                @if (item.Owner != null)
                {
                    <small>
                        <span class="fa fa-clock-o">@item.ModifiedOn</span> &nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="fa fa-user">@item.Owner.Username</span>
                    </small>
                }
            </div>
        </div>
    </div>
}
@if (kullanıcı != null)
{
    <div class="row">
        <div class=col-md-12>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class=col-md-12>
            <div class="input-group">
                <input type="text" id="new_yorum_text" class="form-control" placeholder="Yorumunuz" />
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button" onclick="doYorum(this, 'new_clicked', -1);">
                        <span class="fa fa-times"></span> Gönder
                    </button>
                </span>
            </div>
        </div>
    </div>
}