<div class="container-fluid mt-3 mb-5">

    <!-- Section: Block Content -->
    <section class="mb-4 col-md-12 col-sm-12">

        <style>
            .map-container {
                overflow: hidden;
                position: relative;
                height: 0;
            }

                .map-container iframe {
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                }
        </style>

        <!-- Google Maps -->
        <div id="full-width-map" class="z-depth-1-half map-container" style="height:300px;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3184.4588960790807!2d35.30202681529679!3d37.04654617989864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzfCsDAyJzQ3LjYiTiAzNcKwMTgnMTUuMiJF!5e0!3m2!1str!2str!4v1604733830198!5m2!1str!2str" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>       
        </div>
        <!-- Google Maps -->

    </section>
    <!-- Section: Block Content -->

</div>