<div class="container-fluid mt-3 mb-5">

    <!-- Section: Block Content -->
    <section class="mb-4 col-md-12 col-sm-12">

        <style>
            .map-container {
                overflow: hidden;
                position: relative;
                height: 0;
            }

                .map-container iframe {
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                }
        </style>

        <!-- Google Maps -->
        <div id="full-width-map" class="z-depth-1-half map-container" style="height:300px;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2527.8504533981354!2d35.31420697126442!3d37.036225605372984!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3e727f4781edafa5!2sDiyetisyen%20G%C3%BClten%20Manav!5e0!3m2!1str!2str!4v1627669008985!5m2!1str!2str" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>       
        </div>
        <!-- Google Maps -->

    </section>
    <!-- Section: Block Content -->

</div>